*{
   margin: 0;
   padding: 0;
}
body{
   margin: 20px 0;
   padding: 0;
   user-select: none;
}

#body-title {
   font-size: 25px;
   text-align: center;
   margin: 10px auto;
   width: 500px;
}

.container {
   padding:5px 0;
   border-radius: 20px;
   margin: 0 auto;
   border: 2px solid black;
   width: 500px;
}
#form-menu-row-1 {
   display: grid;
   grid-template-columns: 7.5% 25% 7.5% 25% 10% 15% 10%;
   grid-row-gap:5px;
   grid-template-rows: 50% 50%;
}
#form-menu-row-2 {
   display: grid;
   grid-template-columns: 25% 20% 10% 20% 25%;
}

.invalid {
   border: 2px solid red;
}

#begin-game-btn {
   cursor: pointer;
}

#player-turn {
   text-align: center;
   margin: auto;
}
.player-score {
   text-align: center;
   display: grid;
   grid-template-columns: 50% 50%;
}